body {
    background-color: black;
}

.titlecolor {
    color: aqua;
    font-size: 48px; 
    text-align: center;
}

.banner {
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 20px;
}
