html, body {
    margin: 0;
    padding: 0;
}

body {
    background: url("Images/whitebrick.jpg") no-repeat center center fixed;
    background-size: cover; 
}

.titlecolor {
    color: aqua;
    font-size: 48px; 
    text-align: center;
}

.banner {
    display: flex;
    align-items: start;
    justify-content: left;
    padding: 20px;
    background-color: black;
    width: 100%;
}
    .banner .logo {
        height: 135px;
        margin-right: 15px;
    }

    .banner .title-img {
        height: 100px;
        padding-top: 20px;
    }